extends layout
block css
  link(rel="stylesheet" type="text/css" href="/styles/admin.css")
block content
  body
    section
      div#back
        a(href="/" title="На главную страницу" rel="prev")
          img(src="/images/back.png")
          span Назад
      div.title= title
      div#board
        div#buttonsNav
          a(href="/admin/requests")
            div.svcButton Заявки
          a(href="/admin/feedbacks")
            div.svcButton Отзывы
          a(href="/admin/questions")
            div.svcButton Вопросы
          a(href="/admin/serviceType")
            div.svcButton Типы услуг
          a(href="/admin/services")
            div.svcButton Список услуг
          a(href="/admin/goodsTypes")
            div.svcButton Типы товаров
          a(href="/admin/goodsList")
            div.svcButton Список товаров
          a(href="/admin/masters")
            div.svcButton Сотрудники
        div#lastRequests
          if (requests.length)
            table
              caption
                strong Список заявок
              tr
                th Время записи
                th Услуга
                th Отправитель
                th Телефон
                th E-mail
                th Сообщение
              each row in requests
                tr(id=row.id)
                  td= row.selecteddate.toLocaleString()
                  td= row.service
                  td= row.sender
                  td= row.tel
                  td
                    a(href="mailto:" + row.email)= row.email
                  td= row.message
          else
            p Список заявок пуст
        div#lastfeedbacks
          if (feedbacks.length)
            table
              caption
                strong Список неутверждённых отзывов
              tr
                th Время
                th Отправитель
                th E-mail
                th Телефон
                th Тема
                th Сообщение
              each row in feedbacks
                tr
                  td= row.ts.toLocaleString()
                  td= row.name
                  td
                    a(href="mailto:" + row.email)= row.email
                  td= row.tel
                  td= row.title
                  td= row.message
        div#lastQuestions
          if (questions.length)
            table
              caption
                strong Список вопросов без ответа
              tr
                th Время
                th Отправитель
                th E-mail
                th Телефон
                th Вопрос
              each row in questions
                tr
                  td= row.ts.toLocaleString()
                  td= row.name
                  td
                    a(href="mailto:" + row.email)= row.email
                  td= row.tel
                  td= row.message
