extends layout
block css
  link(rel="stylesheet" type="text/css" href="/styles/shop.css")
block content
  body
    section
      div#back
        a(href="/#goods" title="На главную страницу" rel="prev")
          img(src="/images/back.png")
          span Назад
      div.title= title
      table#goods
        each row in rows
          tr
            td
              img(src="/img/goods/" + row.id alt="1фотография" width="128" heigth="128")
            td
              div.name= row.name
              div.desc= row.description
            td.num
              span= row.bulk
              span &nbspмл.
            td.num
              span= row.price
              span &nbsppуб.
