if (feedbacks.length)
  table
    caption
      strong Список отзывов
    tr
      th Время
      th Отправитель
      th E-mail
      th Телефон
      th Тема
      th Сообщение
      th Опубликовать
      th Удалить
    each row in feedbacks
      tr(id=row.id)
        td= row.ts.toLocaleString()
        td= row.name
        td
          a(href="mailto:" + row.email)= row.email
        td= row.tel
        td= row.title
        td= row.message
        td.center
          if (row.approved)
            input(type="checkbox" name="approved" checked)
          else
            input(type="checkbox" name="approved")
        td.center
          input(type="checkbox" name="delete")
else
  p Список отзывов пуст