extends layout
block css
  link(rel="stylesheet" type="text/css" href="/styles/enrollDate.css")
  link(rel="stylesheet" type="text/css" href="/styles/enrollCommon.css")
block scripts
  script(src="/scripts/enrollDate.js")
block content
  section
    div#back
      a(href="/enrollment" title="Выбор услуг" rel="prev")
        img(src="/images/back.png")
        span Назад
    div#board
      div.title= title
      div#dateSelect
        table#calendar
          tr
            th Пн
            th Вт
            th Ср
            th Чт
            th Пт
            th Сб
            th Вс
          each w in [0,1,2,3,4]
            tr
              each d in [0,1,2,3,4,5,6]
                - var gridNum = w*7+d;
                - var gridClass;
                if (calGrid[gridNum].n == dayNow)
                  - gridClass = "currDay curMonth"
                else
                  if (calGrid[gridNum].curMonth)
                    - gridClass = "curMonth"
                  else
                    - gridClass = "extMonth"
                td(class=gridClass)= calGrid[gridNum].n
        table#clock
          each m in ["00","30"]
            tr
              each h in ["10","11","12","13","14","15","16","17","18"]
                td.time.inavilable(data-hour=h data-min=m)= h+":"+m
      div#serviceDesc(data-svcid=serviceObj.id data-monthnum=monthNum)
        div= serviceObj.name
        div
          span= serviceObj.duration
          span &nbspмин.
          span &nbsp|&nbsp
          span= serviceObj.price
          span &nbspруб.
        hr
        div#selectedDate Выберите дату
        button#proceed(disabled) Продолжить