extends layout
block css
  link(rel="stylesheet" type="text/css" href="/styles/index.css")
block scripts
  script(src="/scripts/index.js")
block content
  nav
    ul
      li.navText(data-nav="main") Главная
      li.navText(data-nav="services") Услуги
      li.navText(data-nav="masters") Мастера
      li.navText(data-nav="reviews") Отзывы
      li.navText(data-nav="goods") Товары
      li.navText(data-nav="contacts") Контакты
  header#main
    div#headerCenter
      div#logo
        img(src="/images/logo.png" alt="логотип")
      div#signboard
        div#nameTxt Кэтрин
        div#nameFrame
      div#buttons
        div#aboutShow О нас
        div#aboutTxt.invisible
          div.btnClose
            img(src="/images/close.png" alt="Закрыть")
          div
            strong Добро пожаловать!
          p Рады приветствовать Вас на сайте нашего салона красоты Кэтрин! Наша команда квалифицированных специалистов готова прийти на помощь Вам с любыми внешними преображениями, даже самыми смелыми. На сайте Вы можете ознакомиться с услугами и их стоимостью, просмотреть представленный в салоне перечень профессиональной косметики, которую можно приобрести в салоне, а так же записаться онлайн на любую услугу.
          p Ждем Вас в салоне красоты Кэтрин!
        div#enrollment
          a(href="/enrollment") Онлайн запись
  section#services
    div#servicesGrid
      div.sericeRow
        div.sericePink Уход
        div
          img(src="/images/care.jpg")
        div.sericeBlack Лицо
        div
          img(src="/images/face.jpg")
      div.sericeRow
        div
          img(src="/images/hair.jpg")
        div.sericeBlack Волосы
        div
          img(src="/images/nails.jpg")
        div.sericePink Ногти
  section#masters
    div#mastersGrid
      each master,idx in masters
        -var cellClass = (idx%2)?"rightCell":"leftCell"
        div.masterCell(class=cellClass)
          div
            img(src="/images/masters/" + master.photo alt="фотография" width="222" heigth="222")
          div.masterDescription
            div.masterName= master.name
            div.masterHr
            div.masterTitle= master.title
            div.masterGalery
              a(href="/gallery/" + master.id) Галерея работ
  section#reviews
    div#reviewsTable
      div.title Отзывы
      each row in feedbacks
        div
          strong= row.name
          span :&nbsp
          span= row.message
    div#feedbackShow Оставить отзыв
    div#feedbackTxt.invisible
      div.btnClose
        img(src="/images/close.png" alt="Закрыть")
      div#feedbackInput
        div
          input(type="text" id="fb_name" placeholder="Имя" maxlength="150")
        div
          input(type="email" id="fb_email" placeholder="E-mail" maxlength="150")
        div
          input(type="tel" id="fb_tel" placeholder="Телефон" maxlength="150")
        div
          input(type="text" id="fb_title" placeholder="Тема сообщения" maxlength="5000")
        textarea(id="fb_message" placeholder="Сообщение")
      input#submitFeedback(type="submit" value="Отправить")
    div#feedbackResult.invisible Спасибо за отзыв!
  section#goods
    table#goodsTable
      caption.title Товары
      tr
        th
          a(href="/shop/organic" title="Товары Organic") Organic
        th
          a(href="/shop/matrix" title="Товары Matrix") Matrix
        th
          a(href="/shop/kapous" title="Товары Kapous") Kapous
      tr
        td
          a(href="/shop/organic" title="Товары Organic")
            img(src="/images/goods_organic.jpg")
        td
          a(href="/shop/matrix" title="Товары Matrix")
            img(src="/images/goods_matrix.jpg")
        td
          a(href="/shop/kapous" title="Товары Kapous")
            img(src="/images/goods_organic.jpg")
  section#contacts
    div#address
      div.title Приходите
      p р-н Наговицынский, д.4, г. Можга, Россия
      p
        a(href="mailto:katrin@yandex.ru") katrin@yandex.ru
      div +7 (912) 006 53 50
      div +7 (950) 833 15 05
      p ЧАСЫ РАБОТЫ
      div ПН—ПТ : 10:00—19:00
      div СБ—ВС : 10:00–17:00
      div#questionForm Задать вопрос
        div#questionInput
          div#questionSender
            div
              input(type="text" id="q_name" placeholder="Имя" maxlength="150")
            div
              input(type="email" id="q_email" placeholder="E-mail" maxlength="150")
            div
              input(type="tel" id="q_tel" placeholder="Телефон" maxlength="150")
          div#questionMessage
            textarea(id="q_message" placeholder="Сообщение" maxlength="5000")
        input#submitQuestion(type="submit" value="Отправить")
      div#questionResult.invisible
        div Ваш вопрос отправлен.
        div Мы ответим на него как прочитаем.
